# Core Dependencies
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz<2024
six==1.17.0
tzdata==2025.2

# Database
psycopg2-binary==2.9.9
sqlalchemy==1.4.50

# MLflow
mlflow==2.10.2

# Machine Learning
scikit-learn==1.5.2
scipy==1.14.1
imbalanced-learn==0.12.4

# Image Processing
pillow==11.0.0

# NLP
nltk==3.9.2
regex==2025.11.3

# Configuration
python-dotenv==1.0.1

# Visualization
matplotlib==3.9.3
seaborn==0.13.2

# Progress bars
tqdm==4.66.4

# Web Framework (if needed)
fastapi==0.121.3
uvicorn==0.38.0
starlette==0.50.0
pydantic==2.12.4
pydantic_core==2.41.5

# Utilities
click==8.3.1
joblib==1.5.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
blinker==1.9.0
h11==0.16.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
sniffio==1.3.1
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==2.2.3

# Database drivers (for MongoDB if still needed)
pymongo==4.10.1
dnspython==2.8.0

# Airflow is installed separately in the Docker container
# apache-airflow==2.8.0

# MinIO
boto3==1.34.149
botocore==1.34.149
s3transfer==0.10.2

# Airflow S3 Provider (pour S3KeySensor + S3Hook)
apache-airflow-providers-amazon==8.16.0

docker>=6.0
